{% extends 'main.html' %}
{% block title %}{% endblock %}
{% block header %}{% endblock %}


{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Pizza Name</th>
      <th scope="col">Size</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {total=0}
   {% for row in result %}

   <tr>
      <th scope="row">--</th>
      <td>{{row.name}}</td>
      <td>{{row.size}}</td>
      <td>{{row.price}}</td> 
    </tr>
    {total+=row.price}
      {% endfor %}
      <tr> {total}</tr>
  </tbody>
</table>

{% endblock %}