{% extends 'main.html' %}
{% block title %}<title>Menu Page</title> {% endblock %}
{% block header %}{% endblock %}


{% block content %}
<div class="card-deck">
  <div class="card" >
    <img class="card-img-top" src="../static/WhatsApp Image 2022-08-06 at 10.09.50 PM.jpeg" width="270px" height="400px" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Pepperoni Pizza</h5>
      <p class="card-text">sizes:small, medium, Large</p>
      <p class="card-text">Price 90 : 170 LE</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../static/WhatsApp Image 2022-08-06 at 10.10.19 PM.jpeg"  width="270px" height="400px" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Super Supreme</h5>
      <p class="card-text">sizes:small, medium, Large</p>
      <p class="card-text">Price 100 : 180 LE</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../static/WhatsApp Image 2022-08-06 at 10.10.28 PM.jpeg" width="270px" height="400px" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Sea Ranch </h5>
      <p class="card-text">sizes:small, medium, Large</p>
      <p class="card-text">Price 120 : 235 LE</p>
    </div>
  </div>
</div>
{% endblock %}