{% extends 'main.html' %}
{% block title %}<title>Pizzaria's Menu </title>{% endblock %}
{% block content %}

    
<div class="card-deck">

    {% for row in data %}
    <div class="card" style="width: 18rem;">
      <img src="/static/images/{{row.name}}.jpg" class="card-img-top" alt="...">
      
      <div class="card-body">
        <h5 class="card-title">{{row.name}}</h5>
        <p class="card-text">{{row.size}}</p>
        <p class="card-text">{{row.price}}</p>
        <p class="card-text" value="{{row.name}}" >
           <a href="{{url_for('make_order',name=row.name)}}"> Add To Cart</a>
          </p>
          
      </div>
    </div>
      
    {% endfor %}
  
  </div>
{% endblock %}

