{% extends 'main.html' %}
{% block title %}<title>Admin Page </title> {% endblock %}
{% block header %}{% endblock %}


{% block content %}
<form method="post" class="center-2">

  <div class="form-group-2">
    <label for="exampleInputEmail1" style="font-size: 15px">Dish Name</label>
    <input name="name"  type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>
  <div class="form-group-2">
    <label for="exampleInputPassword1" style="font-size: 15px">Size</label>
    <input name="size" type="text" class="form-control" id="exampleInputPassword1">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>
  <div class="form-group-2">
      <label for="exampleInputPassword1" style="font-size: 15px">Price</label>
      <input name="price" type="text" class="form-control" id="exampleInputPassword1">
      <small id="emailHelp" class="form-text text-muted"></small>
    </div>

    <button type="submit" class="btn btn-dark" style="margin: 12px;">Save</button>
  
  
</form>
{% endblock %}